body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.login-header {
  text-align: center;
  color: #777
}

.users {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 0 auto;
  padding: 3rem;
  border: 2px solid #e3e3e3
}

.user {
  display: flex;
  align-items: center;
  align-content: center;
  flex: 1;
  margin: 1rem 0;
  justify-content: space-between;
}

.user-avatar img,
.authUser-avatar img {
  max-width: 50px;
  border-radius: 50%;
}

.user-avatar {
  flex: 1;
}

.user-name {
  flex: 2;
}

.dashboard {
  padding: 0 4rem;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.authUser-profile {
  display: flex;
  align-items: center;
}

.authUser-avatar {
  margin-right: 1rem;
}

.questions-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  flex-wrap: wrap;
}

.question {
  box-shadow: 3px 3px 3px 2px #d3d3d3;
  padding: 3rem;
  margin: 2rem;
}

.question-card--heading {
  font-size: 30px;
  padding: 2rem 0;
  font-weight: bold;
  color: #767676;
}

.question-option {
  padding: 5px 0;
}